@font-face {
    font-family: jetbrains;
    src: url("/fonts/jetbraiins");
}

@font-face {
    font-family: stretchpro;
    src: url("/fonts/StretchPro.otf");
  }

  @font-face {
    font-family: smilecandy;
    src: url("/fonts/smilecandy.ttf");
  }
  @font-face {
    font-family: normal;
    src: url("/fonts/Regular.ttf");
  }
  @font-face {
    font-family: jimmy;
    src: url("/fonts/Jimmy.otf");
  }
  @font-face {
    font-family: ccode;
    src: url("/fonts/CascadiaCode.ttf")
  }
  @font-face {
    font-family: rajdhani;
    src: url("/fonts/Rajdhani-Regular.ttf")
  }
  @font-face {
    font-family: almost;
    src: url("/fonts/almost.ttf")
  }
  @font-face {
    font-family: cactus;
    src: url("/fonts/cactus.ttf")
  }





body{
padding: 1em;
max-width: 187.5em;
margin: auto;
line-height: 1.4em;
}

.first{
        font-family: stretchpro;
        font-size: 0.9375em;
        color: #00ddff;
}

header{
max-width: 50em;
float: right;
padding: 1em;
border-style: solid;
margin-bottom: 9.375em;
margin-left: 2em;
}

header h1{
        font-size: 500%;
        font-family: 'Chonburi', cursive;
        text-align: center;
        text-shadow: 3px 3px 0px #eb452b,
                     5px 5px 0px #efa032,
                     7px 7px 0px #46b59b,
                     9px 9px 0px #01737f,
                     11px 11px 0px #052939,
                     13px 13px 0px #333333,
                     15px 15px 0px #333333,
                     17px 17px 0px #333333,
                     19px 19px 0px #333333; 
}

header p{
        font-size: 200%;
        font-family: smilecandy;
        text-align: center;
}

#img-gallery img{
    max-width: 15.625em;
    vertical-align: top;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.panel{
    text-align: center;
    font-size: 200%;
    font-family: rajdhani;
}

.text{
    font-size: 1.875em;
    line-height: 1.5em;
    font-family: rajdhani;
}

.link{
    font-size: 200%;
    font-family: jetbrains;

}

.date{
    text-align: center;
}

a{
        text-decoration: none;
            color: #ffc0cb;
}

a:hover{
        text-decoration: underline;
            color: cyan;
}


nav{
        padding: 0.3125em;
            margin: 0.625em;
}

nav a{
        margin: 0.3125em;
}

nav span{
        margin: 0.625em;
}

.sociallinks nav{
    padding: 0.3125em;
    margin: 0.625em;
}

.sociallinks span{
    margin: 0.625em;
    font-family: rajdhani;
    text-align: left;
    font-size: 200%;
}

.sociallinks a{
    line-height: 120%;
    font-size: 200%;
    font-family: rajdhani;
    text-align: left;
}

.title{
        font-family: rajdhani;
        text-align: center;
        line-height: 1.5em;
        font-size: 3.125em;
                text-shadow: 3px 3px 0px #9400d3,
                     4px 4px 0px #ffff00,
                     5px 5px 0px #ff0000;
}

p,li{
    font-family: rajdhani;
    line-height: 1.2em;
    font-size: 1.5em;
    margin: 0.8em;
}

h2{
    font-family: ccode;
    line-height: 1.5em;
    text-align: left;
    font-size: 2em;
    color: #e1cc4f;
}

h3{
    font-family: ccode;
    line-height: 1em;
    text-align: center;
    font-size: 1em;
    color: #cac4b0;
    padding: 2em;
}
.centerimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
}

h4{
    font-family: almost;
    line-height: 1em;
    text-align: left;
    margin-left: 1em;
    font-size: 1.8em; 
}

footer{
    padding: 2em;
}

.footerhr{
    display: flex;
    align-items: flex-end;
    color: white;
}



/* For Mobile */
@media only screen and (max-width: 1080px) {
header{
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }
.first{
    padding: 1em;
}

.sociallinks{
    text-align: left;
}

p,li{
    margin: 1em;
    font-size: 2em;
}


}


/* For Small Mobile */
@media only screen and (max-width: 600px) {
body{
    padding: 0.5em;
    font-size: 55%;
}

.panel{
    font-size: 180%;
}

header h1{
    font-size: 500%;
}

h1{
    font-size: 100%;
}

#img-gallery img{
    max-width: 90px;
}

main img{
    max-width: 250px;
}
p,li{
    font-size: 2em;
}
.title{
    font-family: rajdhani;
    text-align: center;
    line-height: 1.5em;
    font-size: 3.125em;
            text-shadow: 2px 2px 0px #9400d3,
                 3px 3px 0px #ffff00,
                 4px 4px 0px #ff0000;
}

.centerimg{
    width: 280px;
}
}



